/*

!/.gitignore
!/.config/
!/.zshrc
!/.wezterm.lua
!/.vimrc
!/.taskrc

/.config/*
!/.config/nvim/
!/.config/fish/
!/.config/omf/
!/.config/ranger/
/.config/nvim/lua/custom/**/*

!/.fresh/

/**/.DS_Store
