/*

!/.gitignore
!/.config/
!/.zshrc
!/.wezterm.lua
!/.vimrc

/.config/*
!/.config/nvim/
!/.config/starship.toml
!/.config/fish/
/.config/fish/functions/private/**/*
!/.config/omf/
!/.config/ranger/
/.config/nvim/lua/custom/**/*
!/.config/zed/
/.config/zed/conversations/**/*
/.config/zed/prompts/**/*

!/.dotfiles-setup/
!/.git-templates/

/**/.DS_Store
