/*

!/.gitignore
!/.config/
!/.zshrc
!/.wezterm.lua
!/.vimrc

/.config/*
!/.config/nvim/
!/.config/fish/
/.config/fish/functions/private/**/*
!/.config/omf/
!/.config/ranger/
/.config/nvim/lua/custom/**/*

!/.fresh/
!/.git-templates/*

/**/.DS_Store
